
###> symfony/framework-bundle ###
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/dist/
/var/
/vendor/
/node_modules/
/.env.*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

launch
yarn.lock
composer.lock